* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.main-cont {
    width: 70%;
    margin: 0 auto;
}

.post {
    width: 90%;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.post-title {
    margin: 2px;
    color: darkred;
}

.post-body {
    margin: 20px;
}

.post-form-cont {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;

}

.start-button {
    /*margin-left: 20px;*/
    /*padding-bottom: 50px;*/

}

.button-cont {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}

.row-cont {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container {
    margin: 5% auto;
    display: flex;
    width: 20%;
    flex-direction: column;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container input {
    margin: 10px;
}

.container button {
    margin: 15px;
}

.container-top {
    display: flex;
    height: 5%;

}

.greet {
    margin-left: auto;
}

.main-page-container {
    display: flex;
    height: 92vh;
    flex-direction: column;
}

.sub-container {
    display: flex;
    height: 100%;
}

.left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right-container {
    flex-grow: 2;
    width: 50%;
}

.user-bio-cont {
    display: flex;
    margin: 5px;
    flex-grow: 1.2;
}

.photo-cont {
    position: relative;
    width: 280px;
    height: 350px;
    margin: 10px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
}


.details-cont {
    width: 65%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.user-info-cont {
    display: flex;
    flex-grow: 1.7;
    margin: 5px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.photo-cont:hover .custom-file-upload-cont {
    opacity: 1;
    /*visibility: visible;*/
}

.photo-cont:hover .photo {
    /*visibility: hidden;*/
    opacity: .2;
}


.custom-file-upload-cont {
    /*visibility: hidden;*/
    opacity: 0;
    position: absolute;
    top: -60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all .5s;
}

.detail .edit-block {
    visibility: hidden;
}

.detail:hover .edit-block {
    visibility: visible;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    height: 40px;
}

.edit-block {
    display: flex;
    flex-grow: .02;
    justify-content: space-around;

}

.edit-block-hidden {
    visibility: hidden;
}

.text-input, .text-field {
    width: 100%;
}

.flex-block {
    display: flex;
    flex-direction: column;
}

.loader {
    position: absolute;
    top: -170px;
    left: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-field {
    display: flex;
}

.text-field-label {
    margin-right: 10px;
    width: 60%;
    color: #4f5483;
    text-align: end;
}

.text-field-text {
    font-weight: bolder;
}